.Search {
    border: 2px solid #CCA43D;
    padding: 16px;
    margin: 30px;
    max-width: 600px;
    border-radius: 4px;
    background-color: #101046;
   
}
.Search form {
    margin-bottom: 30px;
}
.Search h1 {
    font-size: 24px;
    font-weight: 100;
    margin: 20px 0 0 0;
    line-height: 29px;
    color: #CCA43D;
    font-weight: bold;
}
.Search ul{
    margin: 0;
    padding: 0;
}
.Search li{
    font-size: 16px;
    line-height: 19px;
    list-style: none;
    color: rgba(255, 255, 255, 0.692);
}
.Search canvas{
    height: 36px;
    display: inline-block;
    
    
    
}
.Search .temperature{
    font-weight: bold;
    font-size: 64px;
    color: #CCA43D;
    
}
.Search .unit{
    color:grey;
    font-size: 16px;
    position: relative;
}
.Search:btn btn-primary{
    background-color: #CCA43D; 
}